QWidget {
  color: white;
  background: black;
}

QLabel {
  color: white;
  background: black;
}

QPushButton {
  color: black;
  background: grey;
}

QProgressBar {
  color: black;
  background: grey;
}

QTableWidget {
  color: black;
  background: grey;
}

QLineEdit {
  color: black;
  background: grey;
}
